@use "../../../styles/colors.scss" as *;
@use "../../../styles/breakpoints.scss" as *;
section.account_section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  h2 {
    text-align: center;
    place-self: center;
  }
  p {
    place-self: center;
  }
  @media (min-width: $breakpoint-mobile) {
    width: 80%;
    h2 {
      place-self: start;
    }
    p {
      place-self: start;
      text-align: left;
    }
  }
}

div.account_container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
}

div.account_info {
  width: 100%;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: #EEF0F0;
  border-radius: 0.5rem;
  padding: 1rem;

  button {
    place-self: center;
    max-width: 100%;
    background-color: $secondary-color;
    color: #EEF0F0;
    border: none;
    border-radius: 0.2rem;
    padding: 0.4rem;
    cursor: pointer;
    font-weight: bold;
    transition: transform 0.2s ease;
    &:hover {
      transform: scale(1.1);
    }
  }
  @media (min-width: $breakpoint-mobile) {
    button {
      max-width: 70%;
    }
    text-align: center;
  }
}
