//Background Colors
$background-page-color: #FFFFFF;
$primary-color: #23decf;
$as: #f5f5dc;
$secondary-color: #27272a;
$tertiary-color: #f1f5f9;
//Text Colors
$text-primary-color: #27272a;
$text-secondary-color: #f5f5dc;